h1 {
    text-align: center;
    color: #000066;
    font-family: cambria;
    padding-left: 30px;
    padding-right: 30px;
}

h2 {
    width: 50%;
    text-align: left; 
    color: #000066; 
    font-family: cambria; 
    padding-left: 160px;
    font-size: 30px;
}

h3 {
    width: 50%;
    text-align: left; 
    color: #000066; 
    font-family: cambria; 
    padding-left: 160px;
    font-size: 30px;
    
}

h4 {
    width: 50%;
    text-align: left;
    color: #000066;
    font-family: cambria;
    padding-left: 170px; 
    font-size: 30px;  
    font-weight: bolder;
}

p {
    font-size: 20px;
    font-family: Cambria;
    text-align: left;
    color: #000066;
    padding-left: 30px;
    padding-right: 30px;
    width: 50%;
}
