     body {
        background-color: #EBC8B2;
    }
  
    h1 {
      text-align: center;
      color: black;
      font-family: cambria;
      font-weight: bolder;
    }
  
    p {
      font-size: 32px;
      font-family: Cambria;
      text-align: left;
      color: black;
    }

    img {
      position: absolute;
      right: 0%;
    }

